html {
    box-sizing: border-box;
    background-color: var(--Light-gray);
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}

:root {
    /* colors */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    /* font */
    --Oufit: 'Outfit', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-gray);
    border-radius: 5%;
    font-family: var(--Oufit);
}
main {
  background-color: var(--White);
  border-radius: 5%;
  max-width: 290px;
  padding: 15px;
  text-align: center;
}

img {
    width: 100%;
    border-radius: 5%;
    padding-left: 15px;
}

h1 {
  color: var(--Dark-blue);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
}

p {
  color: var(--Grayish-blue);
  font-weight: 400;
  margin: 1rem 0.5rem 2rem;
}

}
